n8n-workflows/bizworx-complete-workflow.json
{
  "name": "BizWorx Complete Business Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "b8c7d890-1234-5678-9abc-def012345678",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "baseUrl",
              "value": "https://bluecollarbizworx.replit.app"
            },
            {
              "name": "apiKey",
              "value": "bw_7qtflgzvqmcmbmjhjdg"
            }
          ]
        },
        "options": {}
      },
      "id": "config123-4567-89ab-cdef-0123456789ab",
      "name": "Set BizWorx Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/clients",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "a1b2c3d4-5678-90ef-1234-567890abcdef",
      "name": "Get All Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 180]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/clients",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "name": "{{ $json.name }}",
              "email": "{{ $json.email }}",
              "phone": "{{ $json.phone }}",
              "address": "{{ $json.address }}",
              "notes": "{{ $json.notes }}"
            }
          }
        }
      },
      "id": "client-create-1234-5678-90ab-cdef0123",
      "name": "Create New Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 320]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/jobs",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "jobs-get-1234-5678-90ab-cdef012345",
      "name": "Get All Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/jobs",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "clientId": "{{ $json.clientId }}",
              "title": "{{ $json.title }}",
              "description": "{{ $json.description }}",
              "address": "{{ $json.address }}",
              "scheduledStart": "{{ $json.scheduledStart }}",
              "scheduledEnd": "{{ $json.scheduledEnd }}",
              "status": "{{ $json.status || 'scheduled' }}",
              "priority": "{{ $json.priority || 'normal' }}",
              "estimatedAmount": "{{ $json.estimatedAmount }}",
              "notes": "{{ $json.notes }}"
            }
          }
        }
      },
      "id": "job-create-1234-5678-90ab-cdef01234",
      "name": "Create New Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/jobs/bulk",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "jobs": "{{ $json.jobs }}"
            }
          }
        }
      },
      "id": "bulk-jobs-1234-5678-90ab-cdef0123",
      "name": "Create Bulk Jobs (Recurring)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 740]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/invoices",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "invoices-get-1234-5678-90ab-cdef",
      "name": "Get All Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/invoices",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "clientId": "{{ $json.clientId }}",
              "jobId": "{{ $json.jobId }}",
              "title": "{{ $json.title }}",
              "description": "{{ $json.description }}",
              "lineItems": "{{ $json.lineItems }}",
              "subtotal": "{{ $json.subtotal }}",
              "taxRate": "{{ $json.taxRate }}",
              "taxAmount": "{{ $json.taxAmount }}",
              "total": "{{ $json.total }}",
              "dueDate": "{{ $json.dueDate }}",
              "depositRequired": "{{ $json.depositRequired }}",
              "depositAmount": "{{ $json.depositAmount }}"
            }
          }
        }
      },
      "id": "invoice-create-1234-5678-90ab-cdef",
      "name": "Create Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 320]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/estimates",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "estimates-get-1234-5678-90ab-cdef",
      "name": "Get All Estimates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 460]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/estimates",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "clientId": "{{ $json.clientId }}",
              "title": "{{ $json.title }}",
              "description": "{{ $json.description }}",
              "lineItems": "{{ $json.lineItems }}",
              "subtotal": "{{ $json.subtotal }}",
              "taxRate": "{{ $json.taxRate }}",
              "taxAmount": "{{ $json.taxAmount }}",
              "total": "{{ $json.total }}",
              "validUntil": "{{ $json.validUntil }}",
              "depositRequired": "{{ $json.depositRequired }}",
              "depositAmount": "{{ $json.depositAmount }}"
            }
          }
        }
      },
      "id": "estimate-create-1234-5678-90ab-cdef",
      "name": "Create Estimate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/users",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "users-get-1234-5678-90ab-cdef0123",
      "name": "Get Team Members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 740]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/dashboard/stats",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "dashboard-stats-1234-5678-90ab-cdef",
      "name": "Get Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 880]
    },
    {
      "parameters": {
        "path": "bizworx-webhook",
        "options": {}
      },
      "id": "webhook-receive-1234-5678-90ab-cde",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 1020],
      "webhookId": "bizworx-automation-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "operation": "equal",
              "value2": "job_reminder"
            }
          ]
        }
      },
      "id": "if-job-reminder-1234-5678-90ab-cd",
      "name": "If Job Reminder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 1020]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "cron-trigger-1234-5678-90ab-cdef01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 580]
    },
    {
      "parameters": {
        "authentication": "generic",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "Bearer YOUR_EMAIL_SERVICE_API_KEY"
        },
        "requestMethod": "POST",
        "url": "https://api.emailservice.com/send",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "to": "{{ $json.client.email }}",
              "subject": "Job Reminder: {{ $json.job.title }}",
              "html": "<p>Hello {{ $json.client.name }},</p><p>This is a reminder about your scheduled job: <strong>{{ $json.job.title }}</strong></p><p>Scheduled for: {{ $json.job.scheduledStart }}</p><p>Best regards,<br>Your BizWorx Team</p>"
            }
          }
        }
      },
      "id": "send-email-reminder-1234-5678-90ab",
      "name": "Send Email Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 1160]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set BizWorx Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set BizWorx Config": {
      "main": [
        [
          {
            "node": "Get All Clients",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create New Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create New Job",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Bulk Jobs (Recurring)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Invoices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Invoice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Estimates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Estimate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Team Members",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set BizWorx Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "If Job Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Job Reminder": {
      "main": [
        [
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-07T12:00:00.000Z",
  "id": "bizworx-complete-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BizWorx Complete Business Automation",
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-07T12:00:00.000Z",
      "id": "bizworx-automation",
      "name": "BizWorx Automation",
      "updatedAt": "2024-01-07T12:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-07T12:00:00.000Z",
  "versionId": "1"
}