n8n-workflows/bizworx-complete-workflow.json

{
  "name": "BizWorx Complete Business Automation with Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger-1234-5678-90ab-cdef",
      "name": "Telegram Bot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "baseUrl",
              "value": "https://bluecollarbizworx.replit.app"
            },
            {
              "name": "apiKey",
              "value": "bw_7qtflgzvqmcmbmjhjdg"
            }
          ]
        },
        "options": {}
      },
      "id": "config123-4567-89ab-cdef-0123456789ab",
      "name": "Set BizWorx Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Telegram command and extract parameters\nconst messageText = $input.first().json.message.text;\nconst chatId = $input.first().json.message.chat.id;\n\n// Extract command\nconst commandMatch = messageText.match(/^\\/([a-zA-Z_]+)/);\nconst command = commandMatch ? commandMatch[1] : '';\n\n// Parse parameters using regex patterns\nconst parseParams = (text) => {\n  const params = {};\n  \n  // Match key:\"value\" or key:value patterns\n  const paramMatches = text.match(/([a-zA-Z]+):(\"[^\"]*\"|[^\\s]+)/g) || [];\n  \n  paramMatches.forEach(match => {\n    const [key, value] = match.split(':');\n    params[key] = value.replace(/\"/g, ''); // Remove quotes\n  });\n  \n  return params;\n};\n\nconst parameters = parseParams(messageText);\n\nreturn {\n  command: command,\n  chatId: chatId,\n  originalMessage: messageText,\n  parameters: parameters,\n  // Extract common parameters with defaults\n  clientId: parameters.clientId || parameters.client || 1,\n  title: parameters.title || `${command} from Telegram`,\n  description: parameters.description || `Created via Telegram bot`,\n  scheduledStart: parameters.scheduledStart || parameters.start || new Date().toISOString(),\n  scheduledEnd: parameters.scheduledEnd || parameters.end,\n  priority: parameters.priority || 'normal',\n  status: parameters.status || 'draft',\n  name: parameters.name,\n  email: parameters.email,\n  phone: parameters.phone,\n  address: parameters.address,\n  jobId: parameters.jobId || parameters.job,\n  dueDate: parameters.dueDate || parameters.due,\n  validUntil: parameters.validUntil || parameters.valid,\n  invoiceId: parameters.invoiceId || parameters.invoice,\n  estimateId: parameters.estimateId || parameters.estimate,\n  items: parameters.items ? JSON.parse(parameters.items) : []\n};"
      },
      "id": "parse-command-1234-5678-90ab-cdef",
      "name": "Parse Command & Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "create_job"
            }
          ]
        }
      },
      "id": "if-create-job-1234-5678-90ab-cd",
      "name": "If Create Job Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "schedule_job"
            }
          ]
        }
      },
      "id": "if-schedule-job-1234-5678-90ab-cd",
      "name": "If Schedule Job Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "create_client"
            }
          ]
        }
      },
      "id": "if-create-client-1234-5678-90ab-cd",
      "name": "If Create Client Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "create_invoice"
            }
          ]
        }
      },
      "id": "if-create-invoice-1234-5678-90ab-cd",
      "name": "If Create Invoice Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "edit_invoice"
            }
          ]
        }
      },
      "id": "if-edit-invoice-1234-5678-90ab-cd",
      "name": "If Edit Invoice Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "create_estimate"
            }
          ]
        }
      },
      "id": "if-create-estimate-1234-5678-90ab-cd",
      "name": "If Create Estimate Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "edit_estimate"
            }
          ]
        }
      },
      "id": "if-edit-estimate-1234-5678-90ab-cd",
      "name": "If Edit Estimate Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 700]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "get_stats"
            }
          ]
        }
      },
      "id": "if-get-stats-1234-5678-90ab-cd",
      "name": "If Get Stats Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 800]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "get_jobs"
            }
          ]
        }
      },
      "id": "if-get-jobs-1234-5678-90ab-cd",
      "name": "If Get Jobs Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 900]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "get_invoices"
            }
          ]
        }
      },
      "id": "if-get-invoices-1234-5678-90ab-cd",
      "name": "If Get Invoices Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.command }}",
              "operation": "equal",
              "value2": "help"
            }
          ]
        }
      },
      "id": "if-help-command-1234-5678-90ab-cd",
      "name": "If Help Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 1100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/jobs",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "clientId": "={{ $json.clientId }}",
              "title": "={{ $json.title }}",
              "description": "={{ $json.description }}",
              "scheduledStart": "={{ $json.scheduledStart }}",
              "status": "scheduled",
              "priority": "={{ $json.priority }}"
            }
          }
        }
      },
      "id": "create-job-api-1234-5678-90ab-cdef",
      "name": "Create Job via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/jobs",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "clientId": "={{ $json.clientId }}",
              "title": "={{ $json.title }}",
              "description": "={{ $json.description }}",
              "scheduledStart": "={{ $json.scheduledStart }}",
              "scheduledEnd": "={{ $json.scheduledEnd }}",
              "status": "scheduled",
              "priority": "={{ $json.priority }}"
            }
          }
        }
      },
      "id": "schedule-job-api-1234-5678-90ab-cdef",
      "name": "Schedule Job via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/clients",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "name": "={{ $json.name || 'New Client from Telegram' }}",
              "email": "={{ $json.email || 'client@example.com' }}",
              "phone": "={{ $json.phone || '' }}",
              "address": "={{ $json.address || '' }}"
            }
          }
        }
      },
      "id": "create-client-api-1234-5678-90ab-cdef",
      "name": "Create Client via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/invoices",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "clientId": "={{ $json.clientId }}",
              "jobId": "={{ $json.jobId }}",
              "dueDate": "={{ $json.dueDate || new Date(Date.now() + 30*24*60*60*1000).toISOString() }}",
              "items": "={{ $json.items }}",
              "status": "={{ $json.status }}"
            }
          }
        }
      },
      "id": "create-invoice-api-1234-5678-90ab-cdef",
      "name": "Create Invoice via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/invoices/{{ $json.invoiceId }}",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "status": "={{ $json.status }}",
              "dueDate": "={{ $json.dueDate }}",
              "items": "={{ $json.items }}"
            }
          }
        }
      },
      "id": "edit-invoice-api-1234-5678-90ab-cdef",
      "name": "Edit Invoice via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/estimates",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "clientId": "={{ $json.clientId }}",
              "title": "={{ $json.title }}",
              "description": "={{ $json.description }}",
              "validUntil": "={{ $json.validUntil || new Date(Date.now() + 30*24*60*60*1000).toISOString() }}",
              "items": "={{ $json.items }}",
              "status": "={{ $json.status }}"
            }
          }
        }
      },
      "id": "create-estimate-api-1234-5678-90ab-cdef",
      "name": "Create Estimate via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/estimates/{{ $json.estimateId }}",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}",
            "Content-Type": "application/json"
          },
          "body": {
            "bodyType": "json",
            "value": {
              "status": "={{ $json.status }}",
              "validUntil": "={{ $json.validUntil }}",
              "items": "={{ $json.items }}"
            }
          }
        }
      },
      "id": "edit-estimate-api-1234-5678-90ab-cdef",
      "name": "Edit Estimate via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 700]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/dashboard/stats",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "get-stats-api-1234-5678-90ab-cdef",
      "name": "Get Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 800]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/jobs",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "get-jobs-api-1234-5678-90ab-cdef",
      "name": "Get Jobs List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 900]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{$node[\"Set BizWorx Config\"].json[\"baseUrl\"]}}/api/external/invoices",
        "options": {
          "headers": {
            "X-API-Key": "={{$node[\"Set BizWorx Config\"].json[\"apiKey\"]}}"
          }
        }
      },
      "id": "get-invoices-api-1234-5678-90ab-cdef",
      "name": "Get Invoices List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 1000]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "✅ **Job Created Successfully!**\n\n📋 **Job Details:**\n• Title: {{ $node[\"Create Job via API\"].json[\"title\"] }}\n• Status: {{ $node[\"Create Job via API\"].json[\"status\"] }}\n• Priority: {{ $node[\"Create Job via API\"].json[\"priority\"] }}\n• Created: {{ new Date().toLocaleString() }}\n\n🔗 Job ID: {{ $node[\"Create Job via API\"].json[\"id\"] }}"
      },
      "id": "telegram-job-response-1234-5678-90ab",
      "name": "Send Job Creation Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "📅 **Job Scheduled Successfully!**\n\n📋 **Schedule Details:**\n• Title: {{ $node[\"Schedule Job via API\"].json[\"title\"] }}\n• Start: {{ new Date($node[\"Schedule Job via API\"].json[\"scheduledStart\"]).toLocaleString() }}\n• Status: {{ $node[\"Schedule Job via API\"].json[\"status\"] }}\n• Priority: {{ $node[\"Schedule Job via API\"].json[\"priority\"] }}\n\n🔗 Job ID: {{ $node[\"Schedule Job via API\"].json[\"id\"] }}"
      },
      "id": "telegram-schedule-response-1234-5678-90ab",
      "name": "Send Job Schedule Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "✅ **Client Created Successfully!**\n\n👤 **Client Details:**\n• Name: {{ $node[\"Create Client via API\"].json[\"name\"] }}\n• Email: {{ $node[\"Create Client via API\"].json[\"email\"] }}\n• Phone: {{ $node[\"Create Client via API\"].json[\"phone\"] }}\n• Created: {{ new Date().toLocaleString() }}\n\n🔗 Client ID: {{ $node[\"Create Client via API\"].json[\"id\"] }}"
      },
      "id": "telegram-client-response-1234-5678-90ab",
      "name": "Send Client Creation Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "💰 **Invoice Created Successfully!**\n\n📄 **Invoice Details:**\n• Invoice ID: {{ $node[\"Create Invoice via API\"].json[\"id\"] }}\n• Client ID: {{ $node[\"Create Invoice via API\"].json[\"clientId\"] }}\n• Status: {{ $node[\"Create Invoice via API\"].json[\"status\"] }}\n• Due Date: {{ new Date($node[\"Create Invoice via API\"].json[\"dueDate\"]).toLocaleDateString() }}\n• Created: {{ new Date().toLocaleString() }}\n\n🔗 Invoice #{{ $node[\"Create Invoice via API\"].json[\"id\"] }}"
      },
      "id": "telegram-invoice-response-1234-5678-90ab",
      "name": "Send Invoice Creation Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "✏️ **Invoice Updated Successfully!**\n\n📄 **Updated Invoice:**\n• Invoice ID: {{ $json.invoiceId }}\n• Status: {{ $node[\"Edit Invoice via API\"].json[\"status\"] }}\n• Due Date: {{ new Date($node[\"Edit Invoice via API\"].json[\"dueDate\"]).toLocaleDateString() }}\n• Updated: {{ new Date().toLocaleString() }}\n\n✅ Changes saved successfully!"
      },
      "id": "telegram-invoice-edit-response-1234-5678-90ab",
      "name": "Send Invoice Edit Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "📊 **Estimate Created Successfully!**\n\n📋 **Estimate Details:**\n• Estimate ID: {{ $node[\"Create Estimate via API\"].json[\"id\"] }}\n• Title: {{ $node[\"Create Estimate via API\"].json[\"title\"] }}\n• Client ID: {{ $node[\"Create Estimate via API\"].json[\"clientId\"] }}\n• Status: {{ $node[\"Create Estimate via API\"].json[\"status\"] }}\n• Valid Until: {{ new Date($node[\"Create Estimate via API\"].json[\"validUntil\"]).toLocaleDateString() }}\n• Created: {{ new Date().toLocaleString() }}\n\n🔗 Estimate #{{ $node[\"Create Estimate via API\"].json[\"id\"] }}"
      },
      "id": "telegram-estimate-response-1234-5678-90ab",
      "name": "Send Estimate Creation Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 600],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "✏️ **Estimate Updated Successfully!**\n\n📋 **Updated Estimate:**\n• Estimate ID: {{ $json.estimateId }}\n• Status: {{ $node[\"Edit Estimate via API\"].json[\"status\"] }}\n• Valid Until: {{ new Date($node[\"Edit Estimate via API\"].json[\"validUntil\"]).toLocaleDateString() }}\n• Updated: {{ new Date().toLocaleString() }}\n\n✅ Changes saved successfully!"
      },
      "id": "telegram-estimate-edit-response-1234-5678-90ab",
      "name": "Send Estimate Edit Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 700],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "📊 **Dashboard Statistics**\n\n💰 **Revenue:** ${{ $node[\"Get Dashboard Stats\"].json[\"revenue\"][\"total\"] || 0 }}\n📅 **Today's Jobs:** {{ $node[\"Get Dashboard Stats\"].json[\"todaysJobs\"].length || 0 }}\n📋 **Recent Invoices:** {{ $node[\"Get Dashboard Stats\"].json[\"recentInvoices\"].length || 0 }}\n👥 **Team Members:** {{ $node[\"Get Dashboard Stats\"].json[\"teamMembers\"].length || 0 }}\n\n📈 Updated: {{ new Date().toLocaleString() }}"
      },
      "id": "telegram-stats-response-1234-5678-90ab",
      "name": "Send Stats Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 800],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "📋 **Current Jobs List**\n\n{{ $node[\"Get Jobs List\"].json.slice(0,10).map((job, index) => `${index + 1}. **${job.title}**\\n   Status: ${job.status}\\n   Client: ${job.clientId}\\n   Scheduled: ${job.scheduledStart ? new Date(job.scheduledStart).toLocaleDateString() : 'Not scheduled'}\\n`).join('\\n') || 'No jobs found' }}\n\n📊 Total Jobs: {{ $node[\"Get Jobs List\"].json.length || 0 }}\n📅 Updated: {{ new Date().toLocaleString() }}"
      },
      "id": "telegram-jobs-response-1234-5678-90ab",
      "name": "Send Jobs List Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 900],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "💰 **Recent Invoices**\n\n{{ $node[\"Get Invoices List\"].json.slice(0,10).map((invoice, index) => `${index + 1}. **Invoice #${invoice.id}**\\n   Client: ${invoice.clientId}\\n   Status: ${invoice.status}\\n   Due: ${invoice.dueDate ? new Date(invoice.dueDate).toLocaleDateString() : 'No due date'}\\n   Amount: $${invoice.total || 0}\\n`).join('\\n') || 'No invoices found' }}\n\n📊 Total Invoices: {{ $node[\"Get Invoices List\"].json.length || 0 }}\n📅 Updated: {{ new Date().toLocaleString() }}"
      },
      "id": "telegram-invoices-response-1234-5678-90ab",
      "name": "Send Invoices List Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 1000],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "🤖 **BizWorx Bot - Complete Command List:**\n\n**📋 Job Management:**\n• `/create_job title:\"Job Name\" client:1 description:\"Job details\"`\n• `/schedule_job title:\"Job Name\" client:1 start:\"2024-01-15T09:00:00Z\"`\n• `/get_jobs` - List all jobs\n\n**👤 Client Management:**\n• `/create_client name:\"Client Name\" email:\"email@example.com\" phone:\"555-1234\"`\n\n**💰 Invoice Management:**\n• `/create_invoice client:1 job:5 due:\"2024-02-01T00:00:00Z\"`\n• `/edit_invoice invoice:123 status:\"sent\"`\n• `/get_invoices` - List recent invoices\n\n**📊 Estimate Management:**\n• `/create_estimate client:1 title:\"Estimate Name\" valid:\"2024-02-01T00:00:00Z\"`\n• `/edit_estimate estimate:456 status:\"approved\"`\n\n**📈 Analytics:**\n• `/get_stats` - View dashboard statistics\n\n**❓ Help:**\n• `/help` - Show this command list\n\n💡 **Parameter Format:**\n• Use `key:\"value\"` for strings with spaces\n• Use `key:value` for single words/numbers\n• Dates should be in ISO format (YYYY-MM-DDTHH:mm:ssZ)\n\n🚀 **Ready to automate your business!**"
      },
      "id": "telegram-help-response-1234-5678-90ab",
      "name": "Send Help Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 1100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Bot Trigger": {
      "main": [
        [
          {
            "node": "Set BizWorx Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set BizWorx Config": {
      "main": [
        [
          {
            "node": "Parse Command & Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command & Parameters": {
      "main": [
        [
          {
            "node": "If Create Job Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Schedule Job Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Create Client Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Create Invoice Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Edit Invoice Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Create Estimate Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Edit Estimate Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Get Stats Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Get Jobs Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Get Invoices Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Help Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Job Command": {
      "main": [
        [
          {
            "node": "Create Job via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Schedule Job Command": {
      "main": [
        [
          {
            "node": "Schedule Job via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Client Command": {
      "main": [
        [
          {
            "node": "Create Client via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Invoice Command": {
      "main": [
        [
          {
            "node": "Create Invoice via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Edit Invoice Command": {
      "main": [
        [
          {
            "node": "Edit Invoice via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Estimate Command": {
      "main": [
        [
          {
            "node": "Create Estimate via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Edit Estimate Command": {
      "main": [
        [
          {
            "node": "Edit Estimate via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Get Stats Command": {
      "main": [
        [
          {
            "node": "Get Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Get Jobs Command": {
      "main": [
        [
          {
            "node": "Get Jobs List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Get Invoices Command": {
      "main": [
        [
          {
            "node": "Get Invoices List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Help Command": {
      "main": [
        [
          {
            "node": "Send Help Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job via API": {
      "main": [
        [
          {
            "node": "Send Job Creation Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Job via API": {
      "main": [
        [
          {
            "node": "Send Job Schedule Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client via API": {
      "main": [
        [
          {
            "node": "Send Client Creation Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoice via API": {
      "main": [
        [
          {
            "node": "Send Invoice Creation Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Invoice via API": {
      "main": [
        [
          {
            "node": "Send Invoice Edit Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Estimate via API": {
      "main": [
        [
          {
            "node": "Send Estimate Creation Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Estimate via API": {
      "main": [
        [
          {
            "node": "Send Estimate Edit Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dashboard Stats": {
      "main": [
        [
          {
            "node": "Send Stats Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs List": {
      "main": [
        [
          {
            "node": "Send Jobs List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoices List": {
      "main": [
        [
          {
            "node": "Send Invoices List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-07T12:00:00.000Z",
  "id": "bizworx-telegram-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BizWorx Complete Business Automation with Telegram",
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-07T12:00:00.000Z",
      "id": "bizworx-telegram-automation",
      "name": "BizWorx Telegram Automation",
      "updatedAt": "2024-01-07T12:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-07T12:00:00.000Z",
  "versionId": "4"
}
